* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Rubix", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #393c41;
  width: 100%;
  overflow-x: hidden;
}
